<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software</string>
          <key>url</key>
          <string>https://download1586.mediafire.com/v9ev4ij127sgC7FDhhnxsFnGmRz2v3RkSC0-y3crgvpRJNIl8sdnU4MX0njGRSnQcDa_0tIpsZjSwhist_1V_fIa-AGBFkuCj7XcNPcBXwv7UCHD-fJJ30XCusLJtLZV8kGKuJOVO0fCmX3WV3SsDv9AvR9cWrJQJjlXEyqXQWVbgSym/xo0spulf0aykvgk/Krnl_2.670.714_1747261387.ipa.zip</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.krnl.client</string>
        <key>bundle-version</key>
        <string>2.670.714</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>KRNL Injector</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
